.container {
    background: #5C697A;
    padding: 0;
}
body { background: #5C697A; }
/*--extend--*/
.area, .fore, .mid, .bk, .container {
    width: 100%;
    height: 288px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.figure {
    margin-left: auto;
    margin-right: auto;
    background: url("/Content/kevanimation/walk_kevin_4.svg") no-repeat;
    width: 220px;
    height: 266px;
    -webkit-transform: translate3D(200px, 50px, 0);
    transform: translate3D(200px, 50px, 0);
    -webkit-animation: walk 0.78s steps(9) infinite;
    animation: walk 0.78s steps(9) infinite;
    -webkit-transform: translateZ(0) scale(1.3);
    transform: translateZ(0) scale(1.3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.no-svg .figure {
    background: url("/Content/kevanimation/dog-walk.png");
}

.fore {
    background: url("/Content/kevanimation/foreground.svg");
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: bk 7s -5s linear infinite;
    animation: bk 7s -5s linear infinite;
}

.no-svg .fore {
    background: url("/Content/kevanimation/foreground.png");
}

.mid {
    background: url("/Content/kevanimation/midground.svg");
    -webkit-animation: bk 15s -5s linear infinite;
    animation: bk 15s -5s linear infinite;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.no-svg .mid {
    background: url("/Content/kevanimation/midground.png");
}

.bk {
    background: url("/Content/kevanimation/cityscape-5-1.svg");
    -webkit-animation: bk 20s -5s linear infinite;
    animation: bk 20s -5s linear infinite;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.no-svg .bk {
    background: url("/Content/kevanimation/background.png");
}

@-webkit-keyframes walk {
    100% {
        background-position: 0 -2376px;
    }
}

@keyframes walk {
    100% {
        background-position: 0 -2376px;
    }
}

@-webkit-keyframes bk {
    100% {
        background-position: 300% 0;
    }
}

@keyframes bk {
    100% {
        background-position: 300% 0;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin-top: 0;
    }

    .figure {
        -webkit-transform: translate3D(40%, 50px, 0);
        transform: translate3D(40%, 50px, 0);
    }

    @-webkit-keyframes bk {
        100% {
            background-position: 100% 0;
        }
    }

    @keyframes bk {
        100% {
            background-position: 100% 0;
        }
    }
}
