html {
    height: 100%;
}

body {
    height: 100%;
}

#map-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


/* stolen from the interwebs - e.g. http://stackoverflow.com/questions/18798520/how-to-add-custom-animation-on-google-map-v3-marker-when-i-drop-each-marker-one */


.mapPointPulse {
  box-sizing:border-box;
  background: #FFD1DC;
  opacity: 0.6;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  -webkit-animation: pulse 1.5s linear 0s 1;
  -moz-animation: pulse 1.5s linear 0s 1;
  animation: pulse 1.5s linear 0s 1;
}
.pink {
      background: #FFD1DC;

}
.red {
      background: #F7977A;

}
.green {
      background: #C4DF9B;
 
}
.blue {
      background: #6ECFF6;

}
.yellow {
      background: #FFF79A;

}

/* ANIMATIONS */
@-webkit-keyframes pulse {
 20% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
  }
  40% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(.6);
    transform: scale(.6);
  }
    60% {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(.4);
    transform: scale(.4);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
}
@-moz-keyframes pulse {
 20% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
  }
  40% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(.6);
    transform: scale(.6);
  }
    60% {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(.4);
    transform: scale(.4);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes pulse {
 20% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
  }
  40% {
    -webkit-transform: scale(0.6);
    -moz-transform: scale(.6);
    transform: scale(.6);
  }
    60% {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(.4);
    transform: scale(.4);
  }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
  }
}