@{
    ViewBag.Title = "Pulse";
}
<div id="map-canvas"></div>

@section scripts{
    <script src="signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <script src="~/Scripts/markerwithlabel.js"></script>

}